@import 'defaultColor';

.Head {
    text-align: center;
}
.Head-header, .Head-tab {
    background-color: $backgroundColor;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Head-tab {
  padding: 1em;
  justify-content: flex-start;
}
.Head-tab h1 {
  font-size: 3em;
  margin: 0;
}
.Head-header h1 {
  width: 100%;
  font-weight: bold;
  font-size: 7em;
}
.alignLeft {
  text-align: left;
}
.alignRight {
  text-align: right;
}
.alignCenter {
  text-align: center;
}
.cursor-hand {
  cursor: pointer;
}
div, h1, h2, h3, h4, h5 {
  color : $fontColor;
}
h1 { font-size: 1.5em; }
h2, h3, h4, h5 { font-size: 1em; }
.plus {
  color: $plusColor;
}
.minus {
  color: $minusColor;
}
.bold {
  font-weight: bold;
}
.title h1 {
  font-size: 2em;
}


// antd

.ant-card-grid { padding: 15px; }

.ant-list-bordered.ant-list-sm .ant-list-header {
  padding-left: 16px;
  padding-right: 24px;
}

.ant-message {
  div {
    color: $fontBackColor;
  }
}

.ant-select-selection-selected-value, .ant-input-number-input { color: $fontBackColor; }

.ant-empty-description { color : $fontColor }

.ant-statistic { margin: 0 1em; }
.ant-statistic-title { font-size: 1.2em; }