@import '../defaultColor';

h3 { 
  font-size: 2.5em;
  margin: 0;
}
.box { 
  height: auto;
  margin-bottom: 5em;
 }
.reportbox {
  padding: 0.2em;
  border: 2px solid;
  border-radius: 10px;
  display: flex;
  align-items: center;
  h1, h2, h3 { font-weight: bold; }
  h1 {
    font-size: 1.1em;
  }
  h2 {
    font-size: 1.0em;
  }
  .avatar {
    background: $fontColor;
    color: $backgroundColor;
  }
  .selected {
    background: yellow;
  }
}
.reportbox, .reportTitle {
  margin: 0.15em 0;
}
.reportTitle {
  font-size: 1.3em;
  border: 2px solid;
  border-radius: 5px;
  margin-bottom: 0.5em;
}
.selected {
  border: 2px solid yellow;
}


