@import "../defaultColor";

.gridWrapper {
  margin-top: 1em;
  background: $backgroundColor;
}
.dataGrid {
  display: flex;
  margin-top: 1em;
  margin-right: 0.5rem;
  background: $backgroundColor;
  text-align: center;
  border: 1px solid $fontColor;
  align-items: center;
  h1 {
    font-size: 1.2em;
    border-bottom: 1px solid $fontColor;
    justify-content: center;
  }
  .group:nth-child(1) {
    padding: 5px 0.5rem;
    width: 7rem;
    border-right: 1px solid $fontColor;
    align-self: stretch;
    align-items: center;
    h4 {
      margin-top: 5px;
      justify-content: center;
    }
  }
  .group:nth-child(2) {
    width: 100%;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-right: none;
    h2 {
      font-size: 1.3em;
      grid-column: 2 / span 1;
      justify-content: flex-end;
    }
    h3 {
      font-size: 1.2em;
      opacity: 0.6;
      grid-column: 1 / span 2;
      justify-content: flex-start;
      border-bottom: 1px solid;
    }
    h3.title {
      opacity: 1;
      font-size: 1.1em;
      justify-content: flex-start;
      word-wrap: break-word;
    }
    h3:nth-child(2) {
      grid-column: 1 / span 1;
      border-bottom: none;
      border-right: 1px solid;
    }
  }
  .group.plus {
    border-left: 1rem solid $plusColor;
    color: $fontColor;
  }
  .group.minus {
    border-left: 1rem solid $minusColor;
    color: $fontColor;
  }
  h1,
  h2,
  h3,
  h4 {
    margin: 0;
    align-self: stretch;
    align-items: center;
    display: flex;
  }
}
