@import "../defaultColor";

.reportCategoryList {
  padding: 0;
  margin: 0;
  border: 0;
  min-height: 2rem;
  display: grid;
  grid-template-columns: 1fr repeat(2, 2fr);
  align-items: center;
  justify-content: center;
  grid-template-columns: 2.5fr 3fr;
  // border-right: 1px solid;
  p {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid $fontColor;
    border-left: 1px solid $fontColor;
    border-right: 1px solid $fontColor;
  }
  p:first-child {
    border-right: none;
    grid-column: 1;
    grid-row: 1 / 3;
    border-right: 1px solid $fontColor;
  }
  p.plus {
    justify-content: flex-start;
    padding-left: 1rem;
  }
  p.minus {
    justify-content: flex-end;
    padding-right: 1rem;
  }
}
.selected {
  border: 2px solid yellow;
  p:first-child {
    font-weight: bold;
    color: $backgroundColor;
    background: yellow;
    border-right: 2px solid yellow;
  }
}
.titleSelected {
  font-weight: bold;
  color: $backgroundColor;
  background: yellow;
  border-bottom: 2px solid yellow;
}
.categorySelected {
  p {
    border-color: yellow;
  }
  p:first-child {
    color: yellow;
    font-weight: bold;
  }
}
